<c-row class="gy-3 mt-5">
  @for(config of chartConfigs ; track $index){
  <c-col md="6" sm="12">
    <c-card class="shadow p-2">
      <c-chart
      class="dashboard-chart border-0"
        [options]="chartOptions[config.chartKey]"
        [data]="chartData[config.chartKey]"
        type="bar"
      />
    </c-card>
  </c-col>
  }
</c-row>

<c-row class="gy-3 mt-5">
  <c-col xl="4" md="6" sm="12">
    <c-card class="p-2 shadow">
      <h3 class="h5">إجمالي الزيارات</h3>
      <p>{{ data().visitsCount }}</p>
    </c-card>
  </c-col>

  <c-col xl="4" md="6" sm="12">
    <c-card class="p-2 shadow">
      <h3 class="h5">إجمالي العينات</h3>
      <p>{{ data().samplesCount }}</p>
    </c-card>
  </c-col>

  <c-col xl="4" md="6" sm="12">
    <c-card class="p-2 shadow">
      <h3 class="h5">عدد الأطباء</h3>
      <p>{{ data().doctorsCount }}</p>
    </c-card>
  </c-col>
</c-row>
