<!-- <c-container class="mt-2">
  <c-row class="justify-content-center">
    <c-col md="12" xl="10">
      <c-widget-stat-a
        class="mb-4 widget-hover"
        color="primary"
        [title]="'اجمالي عدد الزيارات المسجلة '"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          5254 زيارة
        </ng-template>
        <span class="fs-6 fw-normal">
          تقدم الزيارات هذا الشهر
          (40.9% <svg [cIcon]="icons.cilArrowTop"></svg>)
        </span>
        <ng-template cTemplateId="widgetChartTemplate">
          <c-chart [data]="data" [options]="options" class="mt-3 mx-3" height="92" type="line" />
        </ng-template>
      </c-widget-stat-a>
    </c-col>
 </c-row>
<c-row class="justify-content-center">
    <c-col md="12" xl="10">
      <c-widget-stat-a
        class="mb-4 widget-hover"
        color="primary"
        [title]="'اجمالي عدد المبيعات المسجلة '"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          1000 عملية بيع
        </ng-template>
        <span class="fs-6 fw-normal">
          تقدم المبيعات هذا الشهر
          (70.5% <svg [cIcon]="icons.cilArrowTop"></svg>)
        </span>
        <ng-template cTemplateId="widgetChartTemplate">
          <c-chart [data]="data" [options]="options" class="mt-3 mx-3" height="92" type="line" />
        </ng-template>
      </c-widget-stat-a>
    </c-col>
  </c-row>
  <c-row class="justify-content-between">
    <c-col md="12" xl="6">
      <c-widget-stat-b
        #widgetStatB1inv="cWidgetStatB"
        [title]="'الزيارات المحققة هذا الشهر'"
        class="mb-4 widget-hover"
        color="success"
        inverse
        text=""
        [value]="valuePercent2()"
      >
        <br><br><br>
        <c-progress [white]="widgetStatB1inv.inverse" [value]="80"/>
      </c-widget-stat-b>
    </c-col>

    <c-col md="12" xl="6">
      <c-widget-stat-b
        #widgetStatB1inv="cWidgetStatB"
        [title]="'المبيعات المحققة هذا الشهر'"
        class="mb-4 widget-hover"
        color="success"
        inverse
        text=""
        [value]="valuePercent1()"
      >
        <br><br><br>
        <c-progress [white]="widgetStatB1inv.inverse" [value]="95" />
      </c-widget-stat-b>
    </c-col>
</c-row>
<c-row class="justify-content-between">
    <c-col lg="6" xs="12" xl="4">
      <c-widget-stat-f
        [title]="'تغطية الاطباء هذا الشهر'"
        class="mb-3 widget-hover"
        color="info"
        value="95.9%"
        textColor="white"
        padding="true"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="icons.cilChartPie" size="xxl"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>

    <c-col lg="6" xs="12" xl="4">
      <c-widget-stat-f
        [title]="'تغطية العيادات هذا الشهر'"
        class="mb-3 widget-hover"
        color="info"
        value="80.5%"
        textColor="white"
        padding="true"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="icons.cilChartPie" size="xxl"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>

     <c-col lg="6" xs="12" xl="4">
      <c-widget-stat-f
        [title]="'تغطية ايام العمل هذا الشهر'"
        class="mb-3 widget-hover"
        color="info"
        value="60.5%"
        textColor="white"
        padding="true"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <svg [cIcon]="icons.cilChartPie" size="xxl"></svg>
        </ng-template>
      </c-widget-stat-f>
    </c-col>

  </c-row>
</c-container>

<div class="pb-5"></div>
 -->


 <div class="logo-wrapper">
  <img
    src="../../assets/images/logo-center.svg"
    alt="Description of image"
    class="img-fluid w-75"
/>
</div>